.footer-main {
  @include general-responsivity(padding-top, 5.6rem);
  @include general-responsivity(padding-bottom, 6.3rem);
  background: $c-footer-bg;
  margin-top: -.1rem;
  @include portrait-responsivity(padding-top, 4.4rem);
  @include portrait-responsivity(padding-bottom, 2.5rem);

  &,
  &__contacts-text a {
    color: $c-secondary;
  }

  &__contacts-text a {
    @include link-hover;
  }

  &__title {
    @include general-responsivity(font-size, $fs-footer-main__title);
    @include general-responsivity(margin-bottom, 5.2rem);
    color: $c-theme;
    display: none;
    @include portrait-responsivity(font-size, $fs-footer-main__title--portrait);
    @include portrait-responsivity(margin-bottom, 2.2rem);

    &--form {
      color: $c-secondary;
    }
  }

  &__grid {
    @include general-responsivity(column-gap, 10rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "form contacts";
  }

  &__contacts {
    display: grid;
    justify-content: flex-start;
  }

  &__contacts-wrapper {
    @include general-responsivity(font-size, $fs-footer-main__contacts);
    grid-area: contacts;
    @include portrait-responsivity(font-size, $fs-footer-main__contacts--portrait);
  }

  &__form-wrapper {
    grid-area: form;
    margin-left: auto;
    @include portrait-responsivity(margin-top, 4.8rem);
  }

  &__contacts-item {
    display: flex;
    align-items: center;

    &--phone {
      text-decoration: underline;
    }

    &+& {
      @include general-responsivity(margin-top, 2.2rem);
      @include portrait-responsivity(margin-top, 2rem);
    }
  }

  &__contacts-icon-wrapper {
    @include general-responsivity(width, 3.9rem);
    @include general-responsivity(margin-right, 3rem);
    text-align: center;
    @include portrait-responsivity(width, 2.5rem);
    @include portrait-responsivity(margin-right, 1.8rem);
  }

  &__contacts-text {
    @include general-responsivity(top, -.3rem);
    position: relative;
    @include portrait-responsivity(top, -.2rem);
  }

  &__contacts-button-wrapper {
    @include general-responsivity(margin-top, 2.6rem);
    @include portrait-responsivity(margin-top, 2.8rem);
  }

  &__contacts-button {
    @include footer-button;
  }

  @media (orientation: portrait) and (max-width: $brp__portrait--max) {

    &__grid {
      display: block;
    }

    &__contacts {
      justify-content: stretch;
    }

    &__contacts-items {
      display: grid;
      grid-auto-columns: max-content;
      justify-content: center;
    }

    &__title--form {
      display: block;
    }
  }
}