.footer-copy {
  margin-top: -0.1rem;
  @include general-responsivity(font-size, $fs-footer-copy);
  @include general-responsivity(padding-top, 2.9rem);
  @include general-responsivity(padding-bottom, 2.8rem);
  background: $c-copy-bg;
  @include portrait-responsivity(font-size, $fs-footer-copy--portrait);
  @include portrait-responsivity(padding-top, 1.8rem);
  @include portrait-responsivity(padding-bottom, 1.7rem);

  &,
  a {
    color: $c-copy;
  }

  a {
    @include link-hover;
  }

  &__content {
    @include general-responsivity(padding-right, 6rem);
    @include general-responsivity(padding-left, 6rem);
  }

  &:not(&--no-attribution) &__content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "none attributions copy";
  }

  &--no-attribution &__content {
    text-align: center;
  }

  &:not(&--no-attribution) &__text {
    grid-area: copy;
    justify-self: flex-end;
    @include portrait-responsivity(margin-top, 1rem);
  }

  &__attributions {
    grid-area: attributions;
    @include portrait-responsivity(line-height, 2.1rem);

    br {
      display: none;
    }
  }

  @media (orientation: portrait) and (max-width: $brp__portrait--max) {
    text-align: center;

    &:not(&--no-attribution) &__content,
    small {
      display: block;
    }

    &__content {
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    &__attributions {
      br {
        display: inline;
      }
    }
  }
}
