.about {
  @include curved-edge;
  @include general-responsivity(margin-top, $about__margin-top);
  @include general-responsivity(font-size, $fs-about);
  line-height: get-em(5rem, $fs-about);
  padding-top: get-em(-$about__margin-top + 0.4rem, $fs-about);
  padding-bottom: get-em(-$about__margin-top + 0.2rem, $fs-about);
  background: $c-theme;
  text-align: center;
  color: $c-secondary;
  @include portrait-responsivity(font-size, $fs-about--portrait);
  @include portrait-responsivity(margin-top, $about__margin-top--portrait);

  &__text {
    @include general-responsivity(width, 117rem);
    margin: auto;
  }

  @media (orientation: portrait) and (max-width: $brp__portrait--max) {
    line-height: get-em(3.2rem, $fs-about--portrait);
    padding-top: get-em(2.3rem, $fs-about--portrait);
    padding-bottom: get-em(2.1rem, $fs-about--portrait);

    &__text {
      width: auto;
    }
  }
}
