.usps {
  padding-bottom: 0;
  @include portrait-responsivity(padding-bottom, 6.3rem);

  &__grid {
    @include general-responsivity(column-gap, 18rem);
    @include general-responsivity(margin-bottom, -0.7rem);
    grid-template-columns: repeat(3, get-em(31.4rem, $fs-body));
    display: grid;
    justify-content: center;
    @include portrait-responsivity(margin-bottom, -0.9rem);
  }

  @media (orientation: portrait) and (max-width: $brp__portrait--max) {
    &__grid {
      display: block;
    }
  }
}

.usp {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  @include portrait-responsivity(width, 29rem);

  & + & {
    @include portrait-responsivity(margin-top, 5.8rem);
  }

  &__icon-wrapper {
    @include general-responsivity(height, 12.4rem);
    @include portrait-responsivity(height, 8.5rem);
  }

  &__heading {
    @include general-responsivity(margin-top, 4.8rem);
    @include general-responsivity(margin-bottom, 2.5rem);
    @include portrait-responsivity(margin-top, 3.5rem);
    @include portrait-responsivity(margin-bottom, 1.5rem);
  }

  &__desc {
    @include general-responsivity(font-size, $fs-usp__desc);
    @include general-responsivity(line-height, 5rem);
    @include portrait-responsivity(font-size, $fs-usp__desc--portrait);
    @include portrait-responsivity(line-height, 3.2rem);
  }
}
