@import './nav-burger';

.main-nav {
  @include general-responsivity(font-size, $fs-nav);
  font-family: $f-nav;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  width: 82%;
  @include portrait-responsivity(font-size, $fs-nav--portrait);
}

.nav-content {
  $translateX: get-em(3.3rem, $fs-nav);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform $nav-burger__transition;
  transition-property: transform, opacity;
  transform: translateX($translateX);

  &__item {
    margin-right: get-em(2.2rem, $fs-nav);
  }

  &__link {
    margin-right: get-em(-.4rem, $fs-nav);
    color: $c-nav;
    display: block;
  }

  &--active {
    opacity: 1;
    transform: translateX(0);
  }

  @media (orientation: portrait) and (max-width: $brp__portrait--max) {
    $translateX: get-em(4.5rem, $fs-nav--portrait);
    transform: translateX($translateX);

    &__item {
      margin-right: get-em(3rem, $fs-nav--portrait);
    }

    &__link {
      margin-bottom: get-em(-.5rem, $fs-nav--portrait);
    }

    &--active {
      transform: translateX(0);
    }
  }
}