// --- Transitions ---
$t-btn-duration: 150ms;
$t-btn-func: ease-in-out;
$t-main-nav: 150ms ease;

$t-btn: background-color $t-btn-duration $t-btn-func,
color $t-btn-duration $t-btn-func,
border-color $t-btn-duration $t-btn-func;