// --- Helpers ---
$helper-default__precision: 3;


// --- Breakpoints ---
$brp__general--fluid-base: 1920px;
$brp__general--fluid-to: 1920px; // TODO: consider 2560px (4k)

$brp__portrait--fluid-base: 375px;
$brp__portrait--fluid-to: 600px;
$brp__portrait--max: 1024px;