// --- Helpers ---
$default-precision: 3;
$default-orientation: portrait;


// --- Breakpoints ---
$brp-fluid--base: 375px;
$brp-1: 1024px;
$brp-2: 960px;
$brp-general--max: 500px;
$brp-portrait--max: 1024px;


// --- Breakpoint Element Min Widths ---
$minw-brp-fluid--base: 31rem;
$minw-brp-fluid--brp-1: 18.5rem;