// --- Base Colors ---
$c-yellow: #fecb2f;

$c-green: #4ec677;
$c-green--d1: #40a061;

$c-red: #fe2f2f;

$c-black--l1: #0f0f0f;
$c-black--l2: #1f1f1f;
$c-black--l3: #292929;
$c-black--l4: #535461;
$c-black--l5: #555555;

$c-white: #ffffff;
$c-white--d1: #f6f8f9;
$c-white--d2: #fafafa;
$c-white--d3: #ebeff0;
$c-white--d4: #e8eced;
$c-white--d5: #e1e5e6;

// --- Semantic Colors ---
$c-theme: $c-yellow;
$c-primary: $c-black--l4;
$c-secondary: $c-white--d2;

$c-nav: $c-white--d5;
$c-section-headings: $c-white--d3;
$c-hero-greeting: $c-white--d4;
$c-hero-learn-more: $c-white--d4;
$c-copy: $c-black--l5;
$c-footer-form-borders: $c-black--l5;
$c-footer-form-placeholder: lighten($c-primary, 25);
$c-footer-form-required: darken($c-secondary, 50);
$c-footer-form-required--symbol: $c-red;

$c-body-bg: $c-white;
$c-skills-bg: $c-white--d1;
$c-callout-bg: $c-black--l3;
$c-footer-bg: $c-black--l2;
$c-copy-bg: $c-black--l1;

$c-notification__success: $c-white--d2;
$c-notification__success--bg: $c-green;
$c-notification__success--close: $c-white--d2;
$c-notification__success--close-bg: $c-green--d1;

$c-404-title__desc: $c-white--d4;
