// --- Fonts ---
// Source Sans Pro (400, 700)
// Bebas Neue (400)
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@400;700&display=swap");

$ssans: "Source Sans Pro", Arial, Helvetica, sans-serif;
$bebas: "Bebas Neue", Arial, Helvetica, sans-serif;

// --- Semantic Fonts ---
$f-body: $ssans;
$f-headings: $bebas;
$f-nav: $bebas;

// --- Font Sizes ---
// 1rem = 10px
$fs-body: 2.9rem;
$fs-body--portrait: 1.8rem;

$fs-h2: 17.7rem;
$fs-h2--portrait: 7rem;

$fs-h3: 5.6rem;
$fs-h3--portrait: 4rem;

$fs-main-title__greeting: 10.9rem;
$fs-main-title__greeting--portrait: 5.2rem;

$fs-main-title__jobs: 6.5rem;
$fs-main-title__jobs--portrait: 3rem;

$fs-hero__btn: 4rem;
$fs-hero__btn--portrait: 2.2rem;

$fs-nav: 2.7rem;
$fs-nav--portrait: 1.8rem;

$fs-about: 2.9rem;
$fs-about--portrait: 1.8rem;

$fs-usp__desc: 2.9rem;
$fs-usp__desc--portrait: 1.8rem;

// --- Breakpoint Element Min Widths ---
$max-el-width__hero: 66.4rem;
$max-el-width__hero--portrait: 31rem;

$about__margin-top: -5rem;
$about__margin-top--portrait: -2rem;
