// --- Fonts ---
// Source Sans Pro (400, 700)
// Bebas Neue (400)
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@400;700&display=swap');

$ssans: 'Source Sans Pro',
Arial,
Helvetica,
sans-serif;
$bebas: 'Bebas Neue',
Arial,
Helvetica,
sans-serif;


// --- Semantic Fonts ---
$f-body: $ssans;
$f-headings: $bebas;
$f-nav: $bebas;


// --- Font Sizes ---
// 1rem = 10px
$fs-body: 1.6rem;

$fs-main-title__greeting--base: 5.2rem;
$fs-main-title__greeting--brp-1: 3rem;

$fs-main-title__jobs--base: 3rem;
$fs-main-title__jobs--brp-1: 1.7rem;

$fs-hero__btn--base: 2.2rem;
$fs-hero__btn--brp-1: 1.3rem;

$fs-nav--base: 1.8rem;
$fs-nav--brp-1: 1.3rem;


$fs-about: 1.8rem;
$fs-usp__desc: 1.8rem;
$fs-h2: 7rem;
$fs-h3: 4rem;