* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: $f-body;
  background: $c-body-bg;
  color: $c-primary;
  @include portrait-responsivity(font-size, $fs-body--portrait);
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button,
input[type="submit"] {
  font-family: $f-headings;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: $c-section-headings;
  @include portrait-responsivity(font-size, $fs-h2--portrait);

  @media (orientation: portrait) and (max-width: $brp__portrait--max) {
    line-height: get-em(7rem, $fs-h2--portrait);
  }
}

h3 {
  color: $c-primary;
  @include portrait-responsivity(font-size, $fs-h3--portrait);
}

a {
  text-decoration: none;
}

a,
.btn,
button,
input[type="submit"] {
  cursor: pointer;
  padding: 0;
  border: none;
  background: inherit;
  outline: none; // TODO: style outline
}

.btn,
button {
  display: block;
}

strong {
  font-weight: 900;
}

section {
  @media (orientation: portrait) and (max-width: $brp__portrait--max) {
    padding: get-em(6.3rem, $fs-body--portrait) 0;
  }
}

.container {
  width: 100%;
  padding: 0 2.5rem;
  margin-left: auto;
  margin-right: auto;

  &--narrow {
    padding: 0 4.5rem;
  }
}

.btn {
  border-style: solid;
  border-color: $c-theme;
  color: $c-theme;
  display: flex;
  transition: $t-btn;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    color: $c-white;
    border-color: $c-theme;
    background-color: $c-theme;
  }
}

.landing-wrapper {
  position: relative;
}