// --- Breakpoints ---
$brp-fluid--base: 375px;
$brp-1: 500px;


// --- Functions ---
@function get-fluid-size($min-size-in-rems, $related-viewport-width-in-px) {
  @return (($min-size-in-rems / 1rem) / ($related-viewport-width-in-px / 1px) * 1000) * 1vw;
}

@function get-fluid-size-max-breakpoint($max-size-in-rems, $fluid-size-in-vw) {
  @return (($max-size-in-rems / 1rem) / ($fluid-size-in-vw / 1vw) * 1000) * 1px;
}


// --- Mixins ---
@mixin fluid-size($property, $init-size-in-rem, $to-in-px, $from-in-px: $brp-fluid--base) {
  $size--fluid: get-fluid-size($init-size-in-rem, $from-in-px);

  @if $brp-fluid--base>=$from-in-px {
    #{$property}: $size--fluid;
  }

  @else {
    @media screen and (min-width: $from-in-px) {
      #{$property}: $size--fluid;
    }
  }

  @media screen and (min-width: $to-in-px) {
    #{$property}: (($to-in-px / 1px) * ($size--fluid / 1vw) / 1000) * 1rem;
  }
}

@mixin fluid-fs($init-fs-in-rem, $to-in-px, $from-in-px: $brp-fluid--base) {
  @include fluid-size(font-size, $init-fs-in-rem, $to-in-px, $from-in-px);
}